body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    background-color: lightpink;
}

#outer-div {
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.inner-divs div {
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    vertical-align: middle;
    font-weight: bold;
    padding: 1.25em;
    margin: .3em;
    background-color: lightgreen;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}
